Repository KyleMcMaster/payroll-processor, pull requests merged in 2020-09, with the labels that each got.

#38 Employee Payroll Create
  README.md
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollCreate.cs
  api/PayrollProcessor.Web.Api/PayrollProcessor.Web.Api.csproj
  api/PayrollProcessor.Web.Api/Startup.cs
  client/src/app/app.module.ts
  client/src/app/employee/employee-detail/employee-detail.component.html
  client/src/app/employee/employee-detail/state/employee-detail.model.ts
  client/src/app/employee/employee-detail/state/employee-detail.service.ts
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.html
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.scss
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.spec.ts
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.ts
  client/src/app/employee/employee-payroll-list/employee-payroll-list.component.ts
Labels: angular client, enhancement

#37 Update employee details
  README.md
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollCreate.cs
  api/PayrollProcessor.Web.Api/PayrollProcessor.Web.Api.csproj
  api/PayrollProcessor.Web.Api/Startup.cs
  client/src/app/app.module.ts
  client/src/app/department/department.model.ts
  client/src/app/employee/employee-create/employee-create.component.html
  client/src/app/employee/employee-create/employee-create.component.ts
  client/src/app/employee/employee-detail/employee-detail.component.html
  client/src/app/employee/employee-detail/employee-detail.component.ts
  client/src/app/employee/employee-detail/state/employee-detail.model.ts
  client/src/app/employee/employee-detail/state/employee-detail.query.ts
  client/src/app/employee/employee-detail/state/employee-detail.service.ts
  client/src/app/employee/employee-detail/state/employee-detail.store.ts
  client/src/app/employee/employee-detail/state/employee.query.ts
  client/src/app/employee/employee-detail/state/employee.service.ts
  client/src/app/employee/employee-list/state/employee-list.service.ts
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.html
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.scss
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.spec.ts
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.ts
  client/src/app/employee/employee-payroll-list/employee-payroll-list.component.ts
  client/src/app/employee/employee.component.ts
  client/src/app/payroll/payroll.component.ts
  client/tsconfig.json
Labels: angular client, enhancement

#39 Feat/package updates and fixes
  .github/PULL_REQUEST_TEMPLATE.md
  api/.vscode/tasks.json
  api/PayrollProcessor.Core.Domain.Tests/PayrollProcessor.Core.Domain.Tests.csproj
  api/PayrollProcessor.Core.Domain/Intrastructure/LanguageExtensions/TryOptionAsyncLanguageExtensions.cs
  api/PayrollProcessor.Core.Domain/PayrollProcessor.Core.Domain.csproj
  api/PayrollProcessor.Data.Persistence.Tests/PayrollProcessor.Data.Persistence.Tests.csproj
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeeCreateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeeRecord.cs
  api/PayrollProcessor.Data.Persistence/PayrollProcessor.Data.Persistence.csproj
  api/PayrollProcessor.Functions.Api.Tests/PayrollProcessor.Functions.Api.Tests.csproj
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentEmployeeTrigger.cs
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentPayrollTrigger.cs
  api/PayrollProcessor.Functions.Api/Features/Resources/ResourceManager.cs
  api/PayrollProcessor.Functions.Api/Infrastructure/ApiClient.cs
  api/PayrollProcessor.Functions.Api/Infrastructure/QueueMessageHandler.cs
  api/PayrollProcessor.Functions.Api/PayrollProcessor.Functions.Api.csproj
  api/PayrollProcessor.Infrastructure.Seeding/PayrollProcessor.Infrastructure.Seeding.csproj
  api/PayrollProcessor.Tests/PayrollProcessor.Tests.csproj
  api/PayrollProcessor.Web.Api.Tests/PayrollProcessor.Web.Api.Tests.csproj
  api/PayrollProcessor.Web.Api/Features/Departments/DepartmentEmployeesGet.cs
  api/PayrollProcessor.Web.Api/Features/Departments/DepartmentPayrollsGet.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeeCreate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeeGet.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollCreate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollUpdate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeeUpdate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeesGet.cs
  api/PayrollProcessor.Web.Api/Features/Notifications/NotificationController.cs
  api/PayrollProcessor.Web.Api/PayrollProcessor.Web.Api.csproj
Labels: azure functions, bug, configuration, dependencies, documentation, enhancement, web api

#41 Fix/client forms package updates
  client/package-lock.json
  client/package.json
  client/src/app/employee/employee-payroll-create/employee-payroll-create.component.ts
  client/src/app/shared/clock.service.ts
Labels: angular client, bug, dependencies

#42 refactor(Functions.Api): add context log messages to trigger expressions
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentEmployeeTrigger.cs
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentPayrollTrigger.cs
Labels: azure functions, enhancement, ready for review

#43 Feat/client lazy routes module cleanup
  client/src/app/admin/admin.component.ts
  client/src/app/admin/admin.module.ts
  client/src/app/app-routing.module.ts
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/core/core.module.ts
  client/src/app/core/not-found.component.ts
  client/src/app/employee/employee.module.ts
  client/src/app/payroll/payroll.module.ts
Labels: angular client, enhancement, ready for review

#45 Feature: admin tools
  api/PayrollProcessor.Core.Domain/Features/Resources/ResourceCountQuery.cs
  api/PayrollProcessor.Data.Persistence/Features/Resources/ResourceCountQueryHandler.cs
  api/PayrollProcessor.Functions.Api/Features/Resources/ResourcesTrigger.cs
  api/PayrollProcessor.Web.Api/Features/Resources/ResourceStatsGet.cs
  api/PayrollProcessor.Web.Api/Infrastructure/Responses/APIErrorResult.cs
  client/angular.json
  client/import-sorter.json
  client/package-lock.json
  client/package.json
  client/src/app/admin/admin.component.html
  client/src/app/admin/admin.component.ts
  client/src/app/admin/admin.module.ts
  client/src/app/admin/state/resources.client.ts
  client/src/app/admin/state/resources.query.ts
  client/src/app/admin/state/resources.service.ts
  client/src/app/admin/state/resources.store.ts
  client/src/app/app.component.ts
  client/src/app/shared/api-error.ts
Labels: angular client, azure functions, enhancement, web api

#48 Hide payroll create when disabled
  README.md
  client/src/app/employee/employee-detail/employee-detail.component.html
  client/src/app/employee/employee-payroll-list/employee-payroll-list.component.ts
Labels: angular client, documentation

#47 Refactor: ICommandHandler return type to `TryAsync`
  api/PayrollProcessor.Core.Domain/Intrastructure/LanguageExtensions/TryAsyncLanguageExtensions.cs
  api/PayrollProcessor.Core.Domain/Intrastructure/LanguageExtensions/TryOptionAsyncLanguageExtensions.cs
  api/PayrollProcessor.Core.Domain/Intrastructure/Operations/Commands/CommandDispatcher.cs
  api/PayrollProcessor.Core.Domain/Intrastructure/Operations/Commands/ICommandDispatcher.cs
  api/PayrollProcessor.Core.Domain/Intrastructure/Operations/Commands/ICommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Departments/DepartmentEmployeeCreateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Departments/DepartmentEmployeeUpdateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Departments/DepartmentPayrollCreateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Departments/DepartmentPayrollUpdateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeeCreateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeePayrollCreateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeePayrollUpdateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Features/Employees/EmployeeUpdateCommandHandler.cs
  api/PayrollProcessor.Data.Persistence/Infrastructure/Clients/CosmosClientExtensions.cs
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentEmployeeTrigger.cs
  api/PayrollProcessor.Functions.Api/Features/Departments/DepartmentPayrollTrigger.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeeCreate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollCreate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeePayrollUpdate.cs
  api/PayrollProcessor.Web.Api/Features/Employees/EmployeeUpdate.cs
Labels: azure functions, enhancement, web api
