Repository KyleMcMaster/payroll-processor, pull requests merged in 2020-04, with the labels that each got.

#12 Feat/workspace configuration
  .editorconfig
  .markdownlint.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  package-lock.json
  payroll-processor-api/.vscode/launch.json
  payroll-processor-api/.vscode/tasks.json
  payroll-processor-client/.prettierrc
  payroll-processor-client/.vscode/tasks.json
  payroll-processor-client/angular.json
  payroll-processor-client/package-lock.json
  payroll-processor-client/package.json
  payroll-processor-functions/.vscode/launch.json
  payroll-processor-functions/.vscode/settings.json
  payroll-processor-functions/.vscode/tasks.json
  payroll-processor-functions/src/payroll-processor-functions/.vscode/extensions.json
  payroll-processor-functions/src/payroll-processor-functions/.vscode/tasks.json
  payroll-processor-functions/src/payroll-processor-functions/host.json
  payroll-processor-functions/src/payroll-processor-functions/payroll-processor-functions.csproj
  payroll-processor.code-workspace
Labels: configuration, documentation, enhancement

#13 Update .NET vscode integration
  .github/workflows/dotnetcore-api.yml
  .github/workflows/dotnetcore-functions.yml
  README.md
  payroll-processor-api/Payroll.Processor.Api.sln
  payroll-processor-functions/.vscode/launch.json
  payroll-processor-functions/.vscode/tasks.json
  payroll-processor-functions/Payroll.Processor.Functions.sln
  payroll-processor-functions/src/payroll-processor-functions/Features/Employee/EmployeesGetTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payroll/PayrollGetTrigger.cs
  payroll-processor.code-workspace
Labels: configuration, documentation

#14 Feature: table storage / queue integration
  .vscode/settings.json
  README.md
  docs/ARCHITECTURE.md
  payroll-processor-client/.vscode/tasks.json
  payroll-processor-client/src/app/data/state/employee-model.ts
  payroll-processor-functions/Payroll Processor.postman_collection.json
  payroll-processor-functions/src/payroll-processor-functions/Features/Employee/Employee.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Employee/EmployeeData.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Employee/EmployeesGetTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Employees/Employee.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Employees/EmployeeEntity.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Employees/EmployeesTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payroll/EmployeePayrollResponse.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payroll/Payroll.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payroll/PayrollGetTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payrolls/Payroll.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payrolls/PayrollData.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payrolls/PayrollEntity.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Payrolls/PayrollTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Resources/Resource.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Resources/ResourceManager.cs
  payroll-processor-functions/src/payroll-processor-functions/Features/Resources/ResourcesTrigger.cs
  payroll-processor-functions/src/payroll-processor-functions/Infrastructure/DefaultJsonSerializerSettings.cs
  payroll-processor-functions/src/payroll-processor-functions/Infrastructure/EntityQueueMessageProcessor.cs
  payroll-processor-functions/src/payroll-processor-functions/Infrastructure/EnvironmentSettings.cs
  payroll-processor-functions/src/payroll-processor-functions/Infrastructure/Request.cs
  payroll-processor-functions/src/payroll-processor-functions/Infrastructure/TableQuerier.cs
  payroll-processor-functions/src/payroll-processor-functions/Startup.cs
  payroll-processor-functions/src/payroll-processor-functions/local.settings.json.sample
  payroll-processor-functions/src/payroll-processor-functions/payroll-processor-functions.csproj
  payroll-processor-functions/test/payroll-processor-functions-test/Features/Employee/EmployeesGetTriggerTests.cs
  payroll-processor-functions/test/payroll-processor-functions-test/Features/Employees/EmployeesTriggerTests.cs
  payroll-processor-functions/test/payroll-processor-functions-test/payroll-processor-functions-tests.csproj
  payroll-processor.code-workspace
Labels: azure functions, azure storage, configuration, dependencies, documentation, enhancement

#19 Table storage front end
  payroll-processor-client/src/app/app-routing.module.ts
  payroll-processor-client/src/app/app.module.ts
  payroll-processor-client/src/app/data/data-service.ts
  payroll-processor-client/src/app/data/state/employee-model.ts
  payroll-processor-client/src/app/data/state/payroll-model.ts
  payroll-processor-client/src/app/employee/employee-create/employee-create.component.html
  payroll-processor-client/src/app/employee/employee-create/employee-create.component.scss
  payroll-processor-client/src/app/employee/employee-create/employee-create.component.spec.ts
  payroll-processor-client/src/app/employee/employee-create/employee-create.component.ts
  payroll-processor-client/src/app/employee/employee-create/employee-create.service.ts
  payroll-processor-client/src/app/employee/employee-list/employee-list.component.html
  payroll-processor-client/src/app/employee/employee-list/employee-list.component.ts
  payroll-processor-client/src/app/employee/employee-list/state/employee-list.model.ts
  payroll-processor-client/src/app/employee/employee-list/state/employee-list.query.ts
  payroll-processor-client/src/app/employee/employee-list/state/employee-list.service.ts
  payroll-processor-client/src/app/employee/employee-list/state/employee-list.store.ts
  payroll-processor-client/src/app/employee/employee.component.html
  payroll-processor-client/src/app/employee/employee.component.scss
  payroll-processor-client/src/app/employee/employee.component.ts
  payroll-processor-client/src/app/payroll/payroll-list/payroll-list.component.html
  payroll-processor-client/src/app/payroll/payroll.component.ts
  payroll-processor-client/src/app/risk-list/risk-list.component.html
  payroll-processor-client/src/app/risk-list/risk-list.component.spec.ts
  payroll-processor-client/src/app/risk-list/risk-list.component.ts
  payroll-processor-client/src/app/risk-list/state/risk-list-query.ts
  payroll-processor-client/src/app/risk-list/state/risk-list-service.ts
  payroll-processor-client/src/app/risk-list/state/risk-list-store.ts
  payroll-processor-client/src/app/risk-list/state/risk-model.ts
  payroll-processor-functions/src/payroll-processor-functions/Features/Employees/Employee.cs
  payroll-processor-functions/src/payroll-processor-functions/payroll-processor-functions.csproj
Labels: angular client, enhancement
